body{
    background-image: url("https://ak.picdn.net/shutterstock/videos/18935489/thumb/1.jpg");
    background-size: cover;
    font-family: 'Staatliches', cursive;
    
}
.heading{
    background-color: red;
    color: white;
    width: 80%;
    margin: 0px;
    box-shadow:10px 10px 10px orangered;
    border-radius: 20px;
    padding-bottom: 10px;
  
  }
  .div1{
      background-color: white;
      color: red;
      float: none;
      padding: 10px;
      border-radius: 20px;
      box-shadow: 10px 10px 10px orange;
      font-size: 25px;
  }
  .div2{
      font-size: 22px;
      background-color: black;
      color: white;
      border-radius: 22px;
  }